    /* 
Bootstrap 사용시 Custom이 필요한 경우에만 css를 쓰게 된다. -> Custom 하고 싶었던 것 
1) Font
2) Nav 아래 간격 -> Margin
3) 밑에 적당한 공백 주기 -> Padding
3) Container Width 
4) Carousel 높이
5) Carousel 모서리 둥글게 
6) 버튼 위치 가운데 정렬
(shop.css 호출 제거한 것과 비교)
*/
    
    * {
        /* 모든 것에 적용하는 스타일인 경우 (ex: font) */
        font-family: 'Noto Sans KR', sans-serif;
    }
    
    .navbar {
        /* 구역간의 간격을 주는 경우 */
        margin-bottom: 50px;
    }
    
    body {
        /* 구역 내부에 공간 주는 경우 */
        padding-bottom: 100px;
    }
    /* 가로 폭에 따라 다르게 처리하고 싶은 경우 (모바일 대응시 필요) */
    
    @media (min-width: 768px) {
        .container {
            /* width : 폭 결정 */
            width: 600px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            width: 730px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            width: 730px;
        }
    }
    
    .carousel-item {
        /* height : 폭 결정 */
        height: 500px;
    }
    /* 특정 구역 내부의 것에 대해서만 설정하고자 할 때 */
    
    .carousel-item img {
        /* position : 위치를 주는 방식의 종류 (absolue : 내부가 외부보다 바깥으로 나가게 하고 싶을 때) */
        /* margin : auto : 간격을 동일하게 하고 싶을 때 */
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    
    .carousel {
        /* 해당 태그의 모서리 곡선 */
        border-radius: 8px;
        /* 넘어갈 경우 보여줄지 여부 */
        overflow: hidden;
    }
    
    .button-wrapper {
        /* 내부 내용을 가로 가운데 정렬 */
        text-align: center;
    }
    /*
    - css의 종류는 정말 많고 모든 것을 이해하고 넘어가려면 많은 시간이 걸립니다. 
    - 현업 개발자도 필요할때 검색해서 찾고, 다만 그때 가능한 이해해서 다음에는 삽질을 줄이는 방향으로 일합니다. 
    - 추후 프로젝트 진행하며 필요한 것들을 검색해서 찾고 물어보시며 하나씩 이해하는 방식으로 공부하시는게 좋습니다. 
    */