* {
        font-family: 'Noto Sans KR', sans-serif;
    }

    .navbar {
        margin-bottom: 50px;
    }

    body {
        margin-bottom: 100px;
    }

    @media (min-width: 768px) {
        .container {
            width: 600px;
        }
    }

    @media (min-width: 992px) {
        .container {
            width: 730px;
        }
    }

    @media (min-width: 1200px) {
        .container {
            width: 730px;
        }
    }

    .carousel-item {
        height: 500px;
    }

    .carousel-item img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .carousel {
        border-radius: 8px;
        overflow: hidden;
    }

    .button-wrapper {
        text-align: center;
    }

    .product_wrapper {
        margin-bottom: 50px;
    }